.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
  height: calc(100vh - 5rem);
  margin: 2.5rem;
}

.product section {
  width: clamp(80rem, 100%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 50%;
}

.product h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

.product img:global(.pricing-img),
.product img:global(.product-img) {
  width: 110%;
}
